.container{
    width: 100%;
}
.center{
    
}
.box{
    display: flex;
    flex-direction: column;
    
}

.card{
    display: flex;
    flex-direction: column;
    
}

.card-image{
    justify-content: center;
    /* display: flex; */
}

.shopimages{
    height: 200px;
    width: 200px; 
}

.card-content{ 
    justify-content: center;
}